<div class="detail-component">
  <div class="container">
    <div class="row">
      <div class="hero-id">{{ "ID" | translate }}: {{hero._id}}</div>
      <div class="name">{{ "Name" | translate }}: {{hero.name}}</div>
    </div>
    <div class="row">
      <label for="name">{{ "Name" | translate }}: </label>
      <input type="text" [(ngModel)]="hero.name" name="name" id="name">
    </div>
    <div class="row">
      <div (click)="back()" class="btn">{{ "Back" | translate }}</div>
      <div (click)="updateHero()" class="btn">{{ "Save" | translate }}</div>
    </div>
  </div>

</div>
