<div class="container">
  <div class="row">
    <h1>{{ "My Heroes" | translate }}</h1>
  </div>
  <div class="row">
    <label for="name"></label>
    <input [(ngModel)]="heroName" type="text" name="name" id="name">
    <div class="btn" (click)="addHero()">{{ "Add" | translate }}</div>
  </div>
  <div class="row">
    <div class="col s4">
      <div *ngFor="let hero of ($heroesList | async); let i = index;" (click)="selectHero(hero)" class="hero-collection">
        <span class="hero-id">{{i}}</span>
        <span class="hero-name">{{hero.name}}</span>
        <span (click)="removeHero($event, hero._id)" class="hero-removal">x</span>
      </div>
    </div>
    <div *ngIf="!selectedHero?.name" class="s4 col">
      {{ "Please select your hero" | translate }}...
    </div>
    <div *ngIf="selectedHero?.name" class="s4 col">
      <div class="selected-hero">
        <strong>{{selectedHero.name}}</strong> {{ "is your hero" | translate }}:
      </div>
      <a routerLink="/detail/{{selectedHero._id}}" class="btn">{{ "View Details" | translate }}</a>
    </div>
  </div>
</div>
